# Ignore Python virtual environment
venv/
ENV/
env/
.venv/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/
*.swp
